/* importing a font directly on the css */
@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
*{
    box-sizing: border-box;
    /*font-family: 'Indie Flower', cursive;
    font-family: 'Paytone One', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

/* root element of the document: <html> in this case
   it can be used to declare global variables */
:root{
    /*setting the variables at the same place in the style sheet*/
    /*--bg-color: #8966A8;*/
    --bg-color: #ffffff;
    --text-color: #fff;
    --second-text-color: #8966A8;
    --second-color: #5867be;
    --main-color: #fefdfd;
    --big-font: 4rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    /*keeping the header on top of any image or text using the z-index*/
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 10px 16%;
    transition: ease .40s;
}

/* logo style */
.logo{
    font-size: 35px;
    font-weight: 550;
    letter-spacing: 1px;
    color: var(--bg-color);
}

/* navigation bar style */
.navigation-bar{
    display: flex;
}

/* navigation bar: a(hyperlink) style */
.navigation-bar a{
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
}

/* hover effect on the hyperlinks*/
.navigation-bar a:hover{
    background-color: var(--bg-color);
    color: var(--second-text-color);
    box-shadow: 5px 10px 20px rgba(255, 255, 255, 0.397);
    border-radius: 4px;
}

/* applying the style on the menu icon */
#menu-icon{
    color: var(--bg-color);
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/* home text style*/
section{
    padding: 80px 18%;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;

    background-image: url(img/backgroundImage.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}


.home-text h1{
    font-family: 'Paytone One', sans-serif;
    font-size: 20;
    line-height: 1.2;
    color: var(--bg-color);
    letter-spacing: 3px;
    margin-bottom: 20px;

    text-align: center;
}

.home-text p{
    color: #ffffffd7;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 10px;
    left: 0%;

    text-align: center;
}

/*clickable button style*/
.home-btn{
    display: inline-block;
    padding: 15px 30px;
    background: #ffffff42;
    color: var(--main-color);
    border-radius: 4px;
    transition: ease .40s;

    text-align: center;
}

/* hover effect on the home hyperlink*/
.home-btn:hover{
    background: var(--second-text-color);
    color: var(--bg-color);
    transform: scale(1.1);
}


/* second section - about us and Our Services*/
.child h1{
    font-family: 'Paytone One', sans-serif;
    font-size: var(--big-font);
    line-height: 1.2;
    color: var(--second-color);
    letter-spacing: 3px;
    margin-bottom: 20px;
    float: left;

    margin-left: auto;
    margin-right: auto;
}

.child p{
    color: var(--second-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    float: left;
    padding: 5px;

    text-align: justify;

    margin-left: auto;
    margin-right: auto;
   
}

.second-child{
    margin-left: 30px;
}

.parent{
    display: flex;
}

/* sticky style on the header */
header.sticky{
    background: var(--second-text-color);
    padding: 15px 18%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.sticky .logo{
    color: var(--text-color);
}

.sticky .navigation-bar{
    color: var(--text-color);
}

/* our services images style */
.row-of-services{
    color: var(--second-color);
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-gap: 3rem;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

/*changing the display style depending on the screen size*/
@media screen and (max-width:1400px){
    .row-of-services{
        display: grid;
    }
}

.services-box{
    background-color: var(--bg-color);
    border: 1px /*solid #f0eded*/;
    padding: 20px 10px;
    border-radius: 4px;
    transition: all 1s ease 0s;
    cursor: pointer;
    
    margin-left: auto;
    margin-right: auto;
}

.services-img img{
    height: 120px;
    padding: 15px;
    background: var(--bg-color);
    box-shadow: 5px 10px 30px rgb(85, 85, 85 / 20%);
    border-radius: 4px;
    margin-bottom: 15px;
    cursor: pointer;
}

.services-box h4{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.services-box:hover{
    box-shadow: 5px 30px 56.1276px rgb(218, 218, 218);
    border: 1px solid transparent;
    transform: translateY(-3px);
}

/* footer style */

#contact{
    background: var(--second-text-color);
}

.contact .main{
    display: flex;
    flex-wrap: wrap;
}

.contact .footer{
    padding: 20px 0;
}

.contact .list{
    width: 25%;

    margin-left: auto;
}

.contact .list h4{
    font-size: 21px;
    color: var(--bg-color);
    margin-bottom: 30px;
    position: relative;
}

.contact .list h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 60px;
    left: 0;
    bottom: -10px;
    background: var(--bg-color);
}

.contact .list ul li:not(:last-child){
    margin-bottom: 16px;
}

.contact .list ul li a{
    color: #fefdfd;
    font-size: var(--p-font);
    display: block;
    transition: .3s;
}

.contact .list ul li a:hover{
    color: var(--bg-color);
    transform: translateX(14px);
}

.contact .list .social a{
    height: 2rem;
    width: 2rem;
    background: var(--bg-color);
    color: var(--second-text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border-radius: 10px;
    transition: .3s;
    margin-right: 5px;
}

.contact .list .social a:hover{
    transform: scale(1.1);
}

.contact .final-text{
    text-align: center;
    padding-top: 90px;
}

.contact .final-text p{
    color: var(--bg-color);
    font-size: 14px;
    letter-spacing: 1px;
}

/*changing the style according to the screen size*/
@media (max-width: 1400px){
    header{
        padding: 17px 3%;
        transition: .2s;
    }

    header.sticky{
        background: var(--second-text-color);
        padding: 10px 5%;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    }

    section{
        padding: 80px 3%;
        transition: .2;
    }

    :root{
        --big-font: 2rem;
        --h2-font: 2.2rem;
        --p-font: 0.8rem;
        transition: .2s;
    }
}

@media (max-width: 1040px){
    #menu-icon{
        display: block;
    }
    .stick #menu-icon{
        color: var(--text-color);
    }
    .home{
        height: 88vh;
    }
    .navigation-bar{
        position: absolute;
        top: 0;
        right: -100%;
        width: 270px;
        height: 120vh;
        background: #a07bbe;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px 30px;
        transition: 0.5s all;
    }

    .navigation-bar a{
        display: block;
        margin: 2rem 0;
    }

    .sticky .navigation-bar a{
        color: var(--text-color);
    }

    .navigation-bar a:hover{
        color: var(--second-text-color);
    }

    .open{
        right: 0;
    }

    .contact .list{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px){
    .contact .list{
        width: 100%;
    }

    :root{
        --big-font: 1.5rem;
        --h2-font: 1rem;
        transition: .2s;
    }

    .parent{
        display: grid;
    }

    .home{
        height: 85vh;
        transition: .2s;
    }

}