/* importing a font directly on the css */
@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
*{
    box-sizing: border-box;
    /*font-family: 'Indie Flower', cursive;
    font-family: 'Paytone One', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

/* root element of the document: <html> in this case
   it can be used to declare global variables */
:root{
    /*setting the variables at the same place in the style sheet*/
    /*--bg-color: #8966A8;*/
    --bg-color: #ffffff;
    --text-color: #fff;
    --second-text-color: #8966A8;
    --second-color: #5867be;
    --main-color: #fefdfd;
    --big-font: 4rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    /*keeping the header on top of any image or text using the z-index*/
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 10px 16%;
    transition: ease .40s;
}

/* logo style */
.logo{
    font-size: 35px;
    font-weight: 550;
    letter-spacing: 1px;
    color: var(--bg-color);
}

/* navigation bar style */
.navigation-bar{
    display: flex;
}

/* navigation bar: a(hyperlink) style */
.navigation-bar a{
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
}

/* hover effect on the hyperlinks*/
.navigation-bar a:hover{
    background-color: var(--bg-color);
    color: var(--second-text-color);
    box-shadow: 5px 10px 20px rgb(255, 255, 255);
    border-radius: 4px;
}

/* applying the style on the menu icon */
#menu-icon{
    color: var(--bg-color);
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

/* home text style*/
section{
    padding: 80px 18%;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(img/backgroundImage.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.home-text h1{
    font-family: 'Paytone One', sans-serif;
    font-size: 20;
    line-height: 1.2;
    color: var(--bg-color);
    letter-spacing: 3px;
    margin-bottom: 20px;

    text-align: center;
}

.home-text p{
    color: #ffffffd7;
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 10px;
    left: 0%;

    text-align: center;
}

/*clickable button style*/
.home-btn{
    display: inline-block;
    padding: 15px 30px;
    background: #ffffff42;
    color: var(--main-color);
    border-radius: 4px;
    transition: ease .40s;

    text-align: center;
}

/* hover effect on the home hyperlink*/
.home-btn:hover{
    background: var(--second-text-color);
    color: var(--bg-color);
    transform: scale(1.1);
}


/* second section - about us and Our Services*/
.child h1{
    font-family: 'Paytone One', sans-serif;
    font-size: var(--big-font);
    line-height: 1.2;
    color: var(--second-color);
    letter-spacing: 3px;
    margin-bottom: 20px;
    float: left;

    margin-left: 30px;
}

.child p{
    color: var(--second-color);
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    float: left;
    padding: 5px;

    text-align: justify;
}

.second-child{
    margin-left: 30px;
}

.parent{
    display: flex;
}

/* footer style */
footer{
    font-family: 'Times New Roman', Times, serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color:  #fff;
    padding: 5px;
    text-align: center;
}

/* sticky style on the header */
header.sticky{
    background: var(--second-text-color);
    padding: 15px 18%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.sticky .logo{
    color: var(--text-color);
}

.sticky .navigation-bar{
    color: var(--text-color);
}

/* our services images style */
.row-of-services{
    color: var(--second-color);
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
}
